html{


}


h1,p{
    color:white;
}

h2{
    color:gray;
}

.row{
    color:white;
}

body{
    background-image: url("../images/rainbow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
}

.main__container{
    
}

#button1{
    background-color: #55DCC1;
}

.bi-lock-fill{
    font-size: 5rem;
    color: #CFD4DA;
}
.custom_1{
    vertical-align:middle;
}

.custom_form_1{
    color: #CFD4DA;
}